<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-container">
      <img class="logo" src="../../assets/stonks.jpg" alt="" /><ion-title
        >Stonks</ion-title
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="detail-container">
    <h1>
      {{ stockDetail.company }}
      <ion-icon
        size="large"
        class="fav-heart"
        name="heart-outline"
        (click)="setFav()"
      ></ion-icon>
    </h1>
    <h2>
      Current price:
      <strong>{{ stockDetail.current | number : "1.2-2" }} USD</strong>
    </h2>

    <iframe [src]="iframeSafeUrl" class="stock-chart" frameborder="0"></iframe>
    <div class="news-container">
      <h2>Latest News</h2>
      <ion-list>
        <ion-item *ngFor="let news of latestNews">
          <ion-label>
            <a [href]="news.url"
              ><h3>{{ news.headline }}</h3></a
            >
            <p>{{ news.summary }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-toast
  class="toast"
  trigger="open-toast"
  message="This toast will disappear after 5 seconds"
  [duration]="5000"
></ion-toast>
