<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-container">
      <img class="logo" src="../../assets/stonks.jpg" alt="" /><ion-title
        >Stonks</ion-title
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let company of companies">
    <ion-card-header>
      <ion-card-title>{{ company.name }}</ion-card-title>
      <ion-card-subtitle>{{ company.symbol }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h2>{{company.current}}</h2>
      <!-- <ion-icon name="remove-circle-outline"></ion-icon> -->
    </ion-card-content>
  </ion-card></ion-content
>
