<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-container">
      <img class="logo" src="../../assets/stonks.jpg" alt="" /><ion-title
        >Stonks</ion-title
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card" *ngFor="let article of news">
    <img [src]="article.image" />
    <a [href]="article.url"
      ><ion-card-header>
        <ion-card-title class="headline">{{ article.headline }}</ion-card-title>
      </ion-card-header></a
    >
    <ion-card-content>
      <ion-text class="summary" size="small"> {{ article.summary }} </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
